.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.card{
    min-width: 19rem;
    min-height: 27rem;
}

.footer{
    display: flex;
    gap: 0.5rem;
    margin-left: 2rem;
}

.button{
    margin-top: 1rem;
    margin-right: 12px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

img{
    max-height: 24rem;
}
